.bbpresss_unread_posts_icon{
	float:left;
	margin-right:6px;
	max-width: 45px;
}

.bbpresss_unread_posts_icon a img{
	margin-top:2px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.markedUnread{
	float: right;
}

.bbpress_mark_all_read_wrapper{
	transform: scale(0.8);
	transform-origin: right;
}

.bbpress_mark_all_read{
	display:inline-block;
	margin-right:5px;
	width: 100%;
}

.bbpress_mark_all_read input{
	float:right;
}

.bbpress_mark_all_read input[type="submit"]{
	margin:0px;
}